
/*OCULTAR CONTENIDO
.container{
    display: none
}
/*PRUEBA MOSTRAR PRUEBA NODO
.container2{
    display: block
}
*/

/*Definiendo caracteristicas del container de todo*/
/*Haciendo reset de todos los elementos para poder calcular la grid*/
.container {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
  }

  [class*= "row"] {
    display: flex;
  }

  [class*= "col-"]{
    border: 1px solid black;
    min-height: 10px;
    padding: 10px;
  }
  
.main-head, .main-nav, .input-search, .card-box, .button-box, .fotter-buttons-box {
  padding: .2em .5em .2em .5em;
}

.main-nav, .input-search, .lateral-content, .card-box, .button-box, .footer-buttons-box {
  float: left;
}

.main-head {
  background-color: #fa0404;
  height: 150px;
  padding: 1em 2em 2em 1em;
}

.logo {
  display: block;
  margin: auto;
}

.titulo {
  max-width: 100%;
}

.main-nav {
  width: 100%;
  background-color: #2263ca;
}

.lateral-content{
width: 50%;
background-color: #efc207;
}
 .input-search, .input {
   width: 100%;
   border-radius: 10px;
 }

.card-box {
  width: 100%;
  height: auto;
  background-color: #fa0404;
  margin-bottom: 1em;
  border-color: black;
}

.button-box {
  width: 30%;
  background-color: #efc207;
}

.footer-buttons-box {
  width: 100%;
  height: auto;
  background-color: #2263ca;
  text-align: center;
}

.space-between-buttonfooter {  
  margin-left: 10px;
  margin-right: 10px;
}

.final-button-footer {
margin-right: 20px;
}