/*Definiendo caracteristicas del container de todo*/
/*Haciendo reset de todos los elementos para poder calcular la grid*/
.container {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: 'Squada One', cursive;
 }
 
 [class*= "row"] {
  display: flex;
  width: 100%;
  justify-content: space-around;
 }
 
 [class*= "col-"]{
  border: 1px solid black;
  min-height: 50px;
 }
 
 .main-head {
 display: flex;
 background-color: #fa0404;
 height: auto;
 justify-content: space-around;
 }
 
 .logo {
 display: block;
 text-align: left;
 margin: 0 auto;
 }
 .titulo {
   display: flex;
   justify-content: center;
   align-content: flex-end;
   width: 100%;
 }

 .button-help {
 border-radius: 50px;
 background-color: #efc207;
 font-size: 1em;
 padding: 1em 3em 1em 3em;
 text-align: center;
 }
 
 .main-nav {
 background-color: #2263ca;
 }
 
 .lateral-content{
 background-color: #efc207;
 }
 .input-search, .input {
 width: 90%;
 border-radius: 10px;
 height: 30px;
 }
 
 .card-box {
 width: 100%;
 height: auto;
 background-color: #fa0404;
 margin-bottom: 1em;
 border-color: black;
 }
 
 /*Botones para ordenar asc y desc*/
 .button-box {
 background-color: #efc207;
 text-align: center;
 }
 
 /*botones para filtrar*/
 .footer-buttons-box {
 background-color: #2263ca;
 text-align: center;
 justify-content: space-around !important;
 }
 
 .col-2-specific {
 display: flex;
 justify-items: center;
 background-color: #efc207;
 text-align: center;
 border: solid 2px #fa0404;
 border-radius: 10px;
 width: 80%;
 margin-left: 2.5em;
 } 

footer {
  background-color: #fa0404;
  position: absolute;
  width: 100%;
  text-align: center;
}