*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

.row * {
    border: 1px solid black;
    margin: auto;
    width: 100%;
    height: auto;
}


